<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog", root_path %></li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="mailto:quycao2010@gmail.com">Email</a></li>
		</ul>
</div>

<div id="main_content">
		<div id="header">
				<div class="buttons">
					<% if logged_in? %>
						<button class="button"><%= link_to "New Post", new_post_path %></button>
						<button class="button"><%= link_to "Logout", logout_path %></button>
					<% else %>
						<button class="button"><%= link_to "Sign up", signup_path %></button>
						<button class="button"><%= link_to "Login", login_path %></button>
					<% end %>
				</div>
		</div>
		<%= yield %>
</div>

</body>
</html>
